# Backup files
*~

# Build Folder
bin/
build/

# IDE files
nbproject/

# GITHUB STANDARD C BELOW

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
